/*
* @Author: Pace
* @Date:   2018-11-26 20:54:07
 * @Last Modified by: Pace
 * @Last Modified time: 2018-12-02 00:11:09
*/
.panel-body table {
    margin: 0 auto;
}
table {
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
}
table, table tr td, table tr th {
    border: 1px solid #eee;
}
.panel-body table th {
    max-width: 100px;
    padding: 5px 40px;
    text-align: right;
    color: #888;
}
.panel-body table td {
    padding: 0 50px;
    width: 100px;
    max-width: 400px;
    color: #ff9838;
}
.panel-body .btn {
	margin-top: 10px;
    margin-left: 43%;
}