/*
* @Author: Pace
* @Date:   2018-11-28 13:39:18
* @Last Modified by:   Pace
* @Last Modified time: 2018-11-28 23:03:06
*/
/*整个cart容器结构*/
.cart-table{
	width: 100%;
	border-collapse: collapse;
	border :1px solid #ebebeb;
	margin-bottom: 10px;
}

/* header */
.cart-header{
	background: #eee;
}

.clist:hover{
	background: #fafafa;

}
.cart-tr.select {
    background: #fff8e1;
}
.cart-header .cart-cell{
	height: 40px;
	line-height: 40px;
}
/*按钮*/
.cart-table .cell-check{
	width: 7%;
	text-align: left;
	padding-left: 20px;
}
/*商品图片信息*/
.cart-table .cell-img{
	width: 10%;
	text-align: left;
}
.cart-table .cell-img .p-img{
	margin: 10px 0;
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
}
/*商品信息*/
.cart-table .cell-info{
	width: 35%;
	text-align: left;
}
.cart-header .cell-info{
	width: 45%;
	text-align: center;
}
.cell-info .link.cell-name:hover{
	text-decoration: underline;
}
/*商品价格*/
.cart-table .cell-price{
	width: 10%;
	text-align: center;
}
.cart-table .cell-price.list-price{
	font-weight: 700;
}
/*商品数量*/
.cart-table .cell-count{
	width: 15%;
	text-align: center;
}
.cart-table .cell-count .count-input{
	width: 60px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
	outline: none;
	color: #444;
}
.cart-table .cell-count .count-btn{
	display: inline-block;
	width: 20px;
	height: 28px;
	line-height: 28px;
	border-radius: 1px solid #e5e5e5;
	vertical-align: middle;
	cursor: pointer;
	color: #444;
	background: #e4e4e4;
}
/*商品总价*/
.cart-table .cell-total{
	width: 13%;
	text-align: center;
	
}
.cart-table .cell-total.list-total{
	font-weight: 700;
	color: #ff9838;
}
/*操作*/
.cart-table .cell-opera{
	width: 10%;
	text-align: center;
}

/*footer*/
.cart-footer{
	position: relative;
	line-height: 50px;
	background: #eee;
	overflow: hidden;
}
.cart-footer .select-con{
	float: left;
	padding-left: 20px;
}
.cart-footer .delete-con{
	float: left;
	margin-left: 20px;
}
.cart-footer .delete-con{
	float: left;
	margin-left: 20px;
}
.cart-footer .submit-con{
	float: right;
}
.cart-footer .submit-con .submit-total{
	font-size: 18px;
	color: #ff9838;
	font-weight: 700;
	margin-right: 30px;
	vertical-align: middle;
}
.cart-footer .submit-con .btn-submit{
	cursor: pointer;
	float: right;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	height: 100%;
	width: 130px;
	background: #ff9838;
	outline: none;
	border:none;
	text-align: center;
}

/*空购物车*/
.empty-con {
    display: block;
    width: 550px;
    font-size: 30px;
    line-height: 200px;
    margin: auto;
    height: 200px;
    color: #888;
}
.empty-con .fa {
    font-size: 80px;
}