/*
* @Author: Pace
* @Date:   2018-11-22 21:06:57
 * @Last Modified by: Pace
 * @Last Modified time: 2019-10-09 17:46:00
*/

/*logo div样式*/
.logo-wrap{
	width: 180px;
	height: 109px;
	position: absolute;
	border-bottom: 1px solid #f5f5f5;
	margin-right: 20px;
}
.header .logo{
	display: block;
	padding: 20px 0 0 45px;
}
/*头部标题搜索样式*/
.header .search-con{
	display: block;
    float: left;
    margin-top: 2.5rem;
    position: relative;
	margin-left: 235px;
	margin-bottom: 30px;
}
.header .search-con .search-input{
	float: left;
    height: 30px;
    line-height: 20px;
    border-radius: 1rem 0 0 1rem;
    width: 450px;
	color: #ff9838;
	outline: none;
    padding: 5px 15px;
    border: 1px solid #ccc;
}
.header .search-con .search-btn{
	position: absolute;
	height: 42px;
	width: 75px;
	border-radius: 0 1rem 1rem 0;
	margin-left: -2px;
}

.header .focus-me {
	margin: 8px -31px 1px 85%;
    position: absolute;
    float: right;
    width: auto;
    height: auto;
    border: 1px solid #ff9838;
    padding: 0 5px 5px;
    background: #fff;
    border-radius: 5px;
}
.header .QA {
    background: url(../../../image/wx.jpg) round;
    width: 70px;
	height: 70px;
	color: #ff9838;
}
.header .focus-me .focus-me-close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ff9838;
}

/* 面包屑导航 */
.crumb{
	margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
	background: #eee;
	color: #ddd;
	font-size: 12px;
	/*border-top: 2px solid #ff9838;*/
}
.crumb .link-text{
	color: #aaa;
}

