<!-- 底部声明栏 -->
<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="http://www.taobao.com" target="_blank">
				淘宝
			</a> |
			<a class="link" href="http://www.jd.com" target="_blank">
				京东
			</a> |
			<a class="link" href="http://www.baidu.com" target="_blank">
				百度
			</a> |
			<a class="link" href="http://www.zhihu.com" target="_blank">
				知乎
			</a>
		</div>
		<p class="copyright">
			© 2018 enbuys.com 版权所有
			<a href="http://www.miibeian.gov.cn" class="link" target="_blank">苏ICP备18068136号</a>
		</p>
	</div>
</div>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>