<!-- 头部导航 -->
<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<a class="login-logo"></a>
				<span class="high-light link js-login">嗯登陆</span>
				<span class="link js-register">免费注册</span>
			</span>
		
		<span class="user login">
			<span class="link-text js-login">
				欢迎,
				<span class="high-light username"></span>
			</span>
			<span class="link js-logout">退出</span>
		</span>

		</div>
		<ul class="nav-list">
			<li class="nav-item cart">
				<a class="link" href="./cart.html" target="_block">
					<i class="fa fa-shopping-cart high-light"></i>
					购物车(<span class="high-light cart-cont" id="cart-span-count"> 0 </span>)
				</a>
				
			</li>
			<li class="nav-item order-list">
				<a class="link" href="./order-list.html" target="_block">我的订单</a>
			</li>
			<li class="nav-item user-center">
				<a class="link" href="./user-center.html" target="_block">我的信息</a>
			</li>
			<li class="nav-item about">
				<a class="link" href="./about.html">
					<i class="fa fa-leaf" style="color: green"></i>关于EnBuy</a>
			</li>
		</ul>
	</div>
</div>